body {
  background: rgb(233, 233, 233);
  height: 100%;
  padding: 3em;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

#editorjs {
  background: white;
  border-radius: 10px;
  margin: 0 auto
}

button {
  position: relative;
  background: rgb(0, 190, 255);
  color: white;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 1em;
  width: 20vw;
  margin-top: 2em;
  left: 50%;transform: translateX(-50%);
}
